body{
    padding: 100px;
}
.submit-area{
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{

    display: none;

}
.deposit{
    
    background: slateblue;
}
.withdraw{
    
    background: lightsalmon;
}
.balance{
    
    background: orange;
}
.status{
    margin: 0 20px;
    color:white;
    border-radius: 10px;
    padding: 20px;
}